.footer {
  background-color: #010b23;
  background-image: url("../img/bg-footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;

  p {
    font-weight: 100;
  }

  a {
    color: #b8a892;
    font-weight: 100;
  }

  &__header {
    background-color: #b8a892;
    padding: 30px 0;

    h2 {
      color: #010b23;
      font-size: 46px;
      font-weight: 900;
      letter-spacing: 0px;
      line-height: 1.5;
      padding: 0;
    }
  }

  &__body {
    padding: 40px 0;
  }

  &__footer {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    padding: 30px 0;
  }

  &__copyright-notice {
    font-weight: 100;
    text-align: center;
  }
}