<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- SCRIPTS - COMPONENTS -->
    <!-- build:js js/bundle.js   -->
    <script src="js/vendor/angular.min.js"></script>
    <script src="js/vendor/jquery.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/ui-bootstrap-tpls.min.js"></script>
    <script src="js/vendor/angular-touch.js"></script>
    <script src="js/vendor/angular-animate.js"></script>
    <script src="js/vendor/angular-ui-router.min.js"></script>
    <script src="js/vendor/angular-sanitize.js"></script>
    <script src="app/controllers.min.js"></script>
    <script src="app/directives.min.js"></script>
    <script src="app/app.min.js"></script>
    <!-- endbuild -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-controller="AppController as App">
    <div id="conteudo-site">
        <div ui-view></div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

  </body>
</html>
