<!DOCTYPE html>
<head>	
	{{> head-metatags title='Front-End Dev Conference'}}
	{{> head-scripts }}
</head>
<body>
	{{> mol-bs-jumbotron title='Documentação do novo Ecom' description='Esta documentação já está utilizando Gulp e Handlebars' }}
	<main class="main container">		
		<section>		
			<article>
				{{> org-produtos section='Circuit Breakers and Switches'}}				
			</article>

			<article>
				<h1 class="font-titles">Navbar Customizado</h1>
				{{> mol-navbar}}
			</article>

			<article>
				<h1 class="font-titles">Menu principal</h1>
				{{> mol-main-menu}}
			</article>	

		</section>
	</main>
	{{> footer}}

	{{> footer-scripts }}
	<!--build:js js/main.js -->

	<!-- endbuild -->
</body>
</html>
