//Colors manual

// Highlight Colors
//
// Colors we use for higlighting states.
//
// $life-green - #3DCD58, primary green
// $logo-green - #009530, secondary green
// $dark-gray - #626469, base gray
//
// Styleguide Base.colors

//Primary Colors
$main-color: #B8A892;
$life-green:   #3DCD58;
$logo-green:   #009530;
$dark-gray:    #626469; //rgba(0,0,0,0.8)
$white:       #ffffff;

//Secondary Colors
$sky-blue:     #42B4E6;
$medium-gray:   #86949C;
$light-gray:     #9FA0A4; //rgba(0,0,0,0.5)
$background-gray:   #eaeaea;

//Informational Colors
$black: #000;
$white: #fff;

//text-colors
$text-light: #979ca3;
$text-cta: #b8a892;

//Fonts
$font-default: "Raleway", Arial , sans-serif;

//Functional colors
$arrows-icons: $life-green;

//Size variables
$header-height: 200px;
$header-height--sm: 100px;