<div class="logo-ambassadors pull-left"></div>
<div class="header-internal pull-right btns">
    <div class="pull-right icon-grupo">
        <a href="javascript:void(0)" ng-click="App.Sair()" class="icon-link">
            <i class="icon icon-logout"></i>
        </a>
    </div>
    <div class="pull-right icon-grupo">
        <a href="javascript:void(0)" class="icon-link" ng-click="App.MostrarNotificacoes()">
            <i class="icon icon-email"></i>
        </a>
        <div class="notificacoes c-p" ng-click="App.MostrarNotificacoes()">2</div>
        <div class="pop-notificacao" id="notificacao-topo" style="display: none;">
            <div class="setinha"></div>
            <ul slimscroll="{height: '420px', alwaysVisible: true, distance: '1px', size: '5px'}">
                <li class="nao-lido">
                    <a href="javascript:void(0)">
                        <div class="icon-redondo">
                            <i class="icon-tema icon-graf"></i>
                        </div>
                        Falta pouco para atingir seu compromisso de volume.
                    </a>
                </li>
                <li class="nao-lido">
                    <a href="javascript:void(0)">
                        <div class="icon-redondo">
                            <i class="icon-tema icon-mensagem"></i>
                        </div>
                        Selecionamos um novo conteúdo exclusivo.
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <div class="icon-redondo">
                            <i class="icon-tema icon-graf"></i>
                        </div>
                        Falta pouco para atingir seu compromisso de volume.
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <div class="icon-redondo">
                            <i class="icon-tema icon-mensagem"></i>
                        </div>
                        Selecionamos um novo conteúdo exclusivo.
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <div class="icon-redondo">
                            <i class="icon-tema icon-graf"></i>
                        </div>
                        Falta pouco para atingir seu compromisso de volume.
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                        <div class="icon-redondo">
                            <i class="icon-tema icon-mensagem"></i>
                        </div>
                        Selecionamos um novo conteúdo exclusivo.
                    </a>
                </li>
            </ul>
            <div class="opacity-scroll"></div>
        </div>
    </div>
    <div class="pull-right icon-grupo">
        <input type="text" class="form-control busca" placeholder="O que você busca?" id="busca-topo" />
        <a href="javascript:void(0)" class="icon-link" ng-click="App.MostrarBusca()">
            <i class="icon icon-zoom-in"></i>
        </a>
    </div>
</div>
<div style="clear: both;"></div>
