<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#home">
    <img class="navbar-brand__image" src="img/bonsai--logo--horizontal.jpg" alt="Logo Bonsai UX">
    <img class="navbar-brand__image navbar-brand__image--sm" src="img/simbolo.png" alt="Logo Bonsai UX Mini">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" id="home" href="javascript:void(0)">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="about" href="javascript:void(0)">Sobre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="services" href="javascript:void(0)">Serviços</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="how-we-work" href="javascript:void(0)">Nosso Trabalho</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="team" href="javascript:void(0)">Equipe</a>
      </li>
      <li class="nav-item nav-item--important">
        <a class="nav-link" id="contact" href="javascript:void(0)">Contato</a>
      </li>
    </ul>
  </div>
</nav>