<!DOCTYPE html>
<html lang="en">
  <head>
    {{> head-metatags }}
    {{> head-scripts }}
  </head>
  <body>
    <div class="body-container">
      {{> org-header }}
      {{> org-banner }}
      {{> org-about }}
      {{> org-services }}
      {{> org-how-we-work }}
      {{> org-team }}
      {{> org-contact }}
      {{> org-map }}
      {{> org-footer }}
      {{> footer-scripts }}
    </div>
  </body>
</html>
