@import "bootstrap/variables";

@import "bourbon";
@import "neat";

@import "font-awesome/font-awesome";
@import "project/variables";

@import "plugins/prism/prism-okaidia";

.header-intro {
  padding: 2em 0 1em 0;
  background: url(../img/bg-color.png);
  color: $white;

  h1 {
    margin: 0;
    font-size: 1.4em;
    text-transform: uppercase;
  }
  span {
    display: inline-block;
    padding: .5em;
    background: #701346;
  }
}
