<div class="content" id="services">
  <div class="container">
    <div class="content__container">
      <div class="row">
        <div class="col-12">
          <h3 class="content__title content__title--secondary content__title--small text-center">Nossos serviços</h3>
        </div>
        <div class="col-md-4 col-sm-6 col-12">
          {{> mol-service
              icon="fa fa-envelope-o"
              title="Sites reponsivos"
              description="Nossos sites funcionam em qualquer gadget."
          }}
        </div>
        <div class="col-md-4 col-sm-6 col-12">
          {{> mol-service
              icon="fa fa-envelope-o"
              title="Design especializado"
              description="Nossa equipe é formada por pessoas apaixonadas pelo que fazem."
          }}
        </div>
        <div class="col-md-4 col-sm-6 col-12">
          {{> mol-service
              icon="fa fa-envelope-o"
              title="Conteúdo gerenciável"
              description="Soluções sob medida para resolver quaisquer necessidades."
          }}
        </div>
        <div class="col-md-4 col-sm-6 col-12">
          {{> mol-service
              icon="fa fa-envelope-o"
              title="PSD2HTML"
              description="Seu layout rápido para rodar na web, desde sites estáticos até dinâmicos."
          }}
        </div>
        <div class="col-md-4 col-sm-6 col-12">
          {{> mol-service
              icon="fa fa-envelope-o"
              title="E-mail marketing"
              description="Estratégias, artes e disparos que atingem o maior número de usuários."
          }}
        </div>
        <div class="col-md-4 col-sm-6 col-12">
          {{> mol-service
              icon="fa fa-envelope-o"
              title="Seu negócio na web"
              description="Entender suas necessidades, criar produtos que gerem valor à sua empresa e te ajudar a economizar dinheiro."
          }}
        </div>
      </div>
    </div>
  </div>
</div>