<div class="container home">
  <div class="row">
    <div class="col-xs-6">
      <h1>O projeto</h1>
      <p>Usaremos nesse projeto as seguintes tecnologias:</p>
      <ul>
        <li>Javascript ES2015 com Babel</li>
        <li>JQuery 3</li>
        <li>Bootstrap 4</li>
        <li>Font Awesome</li>
        <li>Bootstrap Select</li>
        <li>iCheck</li>
      </ul>
    </div>
    <div class="col-xs-6">
      <button class="btn">Test Button</button>
      <button class="btn-primary">Test Button</button>
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
    </div>
  </div>
</div>