<section class="have-question">
  <div class="container">
    <h2>Have a question?</h2>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>Bonsai UX</h2>

        <p>
          Sed ac mauris sit amet ante. Maecenas eu nibh. Aliquam fermentum eget, suscipit congue id, lacinia accumsan lectus nec lectus lectus, luctus et ultrices metus imperdiet facilisis est eu quam. Phasellus ut ante. Donec mi. Suspendisse adipiscing.
        </p>

        <a href="#">Read more...</a>
      </div>

      <div class="col-md-4">
        <h2>Bonsai UX</h2>

        <p>
          Sed ac mauris sit amet ante. Maecenas eu nibh. Aliquam fermentum eget, suscipit congue id, lacinia accumsan lectus nec lectus lectus, luctus et ultrices metus imperdiet facilisis est eu quam. Phasellus ut ante. Donec mi. Suspendisse adipiscing.
        </p>

        <a href="#">Read more...</a>
      </div>

      <div class="col-md-4">
        <h2>Bonsai UX</h2>

        <p>
          Sed ac mauris sit amet ante. Maecenas eu nibh. Aliquam fermentum eget, suscipit congue id, lacinia accumsan lectus nec lectus lectus, luctus et ultrices metus imperdiet facilisis est eu quam. Phasellus ut ante. Donec mi. Suspendisse adipiscing.
        </p>

        <a href="#">Read more...</a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="footer__copyright-notice">
          &copy; 2018 Bonsai UX - Todos os direitos reservados.
        </div>
      </div>
    </div>
  </div>
</footer>