  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="canonical" href="http://bonsaiux.com.br/">
  <meta itemprop="name" content="Bonsai UX">
  <meta itemprop="description" content="A Bonsai UX é uma consultoria de usabilidade e acessibilidade, que tem como objetivo testar conceitos para serviços, aplicativos, sites, objetos e projetos no geral na área de tecnologia (aplicativos, sites e software no geral). A empresa usa o termo UX com ênfase em usabilidade, acessibilidade, SEO e Arquitetura de Informação.">
  <meta itemprop="image" content="http://www.nomedosite.com.br/includes/css/images/agencia-nomedosite.jpg">
  <!-- Metatags gerais -->
  <meta name="description" content="A Bonsai UX é uma consultoria de usabilidade e acessibilidade, que tem como objetivo testar conceitos para serviços, aplicativos, sites, objetos e projetos no geral na área de tecnologia (aplicativos, sites e software no geral). A empresa usa o termo UX com ênfase em usabilidade, acessibilidade, SEO e Arquitetura de Informação.">
  <title>Bonsai UX</title>
  <meta name="keywords" content="UX consultant, UI design, Design bureau, UX consultoria, User Experience, Consultoria, Design">
  <!-- Metatags opcionais -->
  <meta name="copyright" content="Bonsai UX">
  <meta name="revisit-after" content="1 day">
  <meta name="author" content="Poe Bellentani">
  <!-- Twitter Card -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@bonsaiux">
  <meta name="twitter:title" content="BonsaiUX">
  <meta name="twitter:description" content="A Bonsai UX é uma consultoria de usabilidade e acessibilidade, que tem como objetivo testar conceitos para serviços, aplicativos, sites, objetos e projetos no geral na área de tecnologia (aplicativos, sites e software no geral). A empresa usa o termo UX com ênfase em usabilidade, acessibilidade, SEO e Arquitetura de Informação.">
  <meta name="twitter:image" content="https://bonsaiux.com.br/img/startup-593327.jpg">
  <meta name="twitter:url" content="http://bonsaiux.com.br">
  <!-- Facebook Open Graph -->
  <meta property="og:title" content="Bonsai UX: consultoria em User Experience, Acessibilidade e desenvolvimento de UI">
  <meta property="og:site_name" content="Bonsai UX">
  <meta property="og:url" content="http://bonsaiux.com.br">
  <meta property="og:description" content="A Bonsai UX é uma consultoria de usabilidade e acessibilidade, que tem como objetivo testar conceitos para serviços, aplicativos, sites, objetos e projetos no geral na área de tecnologia (aplicativos, sites e software no geral). A empresa usa o termo UX com ênfase em usabilidade, acessibilidade, SEO e Arquitetura de Informação.">
  <meta property="og:image" content="https://bonsaiux.com.br/img/twitter-avatar.jpg">
  <!-- tags opcionais -->
  <meta property="og:type" content="website">
  <meta property="og:locale" content="pt_BR">
  <meta property="og:locale:alternate" content="en_US">
  <meta property="article:author" content="https://www.facebook.com/bonsaiux">
  <meta property="article:publisher" content="https://www.facebook.com/bonsaiux">
  <meta name="viewport" content="width=device-width, initial-scale=1">
